    <div class="footer-wrapper">
        <div class="container">
            <div class="site-footer">
                <div class="row-fluid">
                    <div class="span3">
                        <div class="block">
                            <h1>KELAS INSPIRASI SAMPANG</h1>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker icon2"></i>
                                    <div class="info">
                                        <span>Sampang, Madura</span><br>
                                        <a>Jawa Timur</a><br>
                                        <a>Indonesia</a>
                                    </div>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="block">
                            <h1>TENTANG KAMI</h1>
                            <ul>
                                <li><a>Se are ngajer</a></li>
                                <li><a>Mempenah kanak alajer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="block">
                            <h1>Kontak Kami</h1>
                            <ul>
                                <li>
                                    <i class="fa fa-mobile icon2"></i>

                                    <div class="info">
                                        <span>Call Us</span><br><a>+62 899-9994-929</a>
                                    </div>
                                </li>
                                <li>

                                    <i class="fa fa-envelope icon2"></i>

                                    <div class="info">
                                        <span>Mail Us</span><br><a href="#">kisampang04@gmail.com</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span3"></div>
                </div>
            </div>

            <div class="container">
                <div class="copy-rights">
                    Copyright (c) websitename. All rights reserved. Designed by : <strong><a href="http://www.alltemplateneeds.com">  www.alltemplateneeds.com</a></strong><br>Powered by : <strong><a href="https://sanakdam.github.io"> https://sanakdam.github.io </a></strong>
                </div>
            </div>
        </div>
    </div>