        <div class="container">
            <div class="logo">
                <img src="./images/logo.png" alt="">
            </div>
            <div class="menu">
                <div class="navbar">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="fa fa-th-list"></i>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/tentang-ki">Tentang KI</a></li>
                            <li><a href="/sikap-dasar">Sikap Dasar</a></li>
                            <li>
                                <div class="site-name">
                                    <img src="./images/logo.png" alt="">
                                </div>
                            </li>
                            <li><a href="/galeri">Galeri</a></li>
                            <li><a href="#">Daftar</a></li>
                            <li><a href="#">Pengumuman</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>